
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="/paynow" method="post">
            <button type="submit" class="btn btn-primary">PayNow</button>
        </form>
    </div>
</div>